03_datos/procesados/02_clases_maestria/Redes de Comunicacion/Evaluacion/Evaluacion_Redes_IoT/Evaluacion_Redes_Iot.json
[
    {
        "id": "1dad0a92ae89740c",
        "type": "tab",
        "label": "Dashboard utilizando JSON2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "466983f7aaddfd72",
        "type": "debug",
        "z": "1dad0a92ae89740c",
        "name": "serial",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "afe2f47b01edd434",
        "type": "debug",
        "z": "1dad0a92ae89740c",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 220,
        "wires": []
    },
    {
        "id": "dccfe7bae7ee171e",
        "type": "debug",
        "z": "1dad0a92ae89740c",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 320,
        "wires": []
    },
    {
        "id": "0edcc82c81a889db",
        "type": "debug",
        "z": "1dad0a92ae89740c",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 440,
        "wires": []
    },
    {
        "id": "942327326d9c6df1",
        "type": "debug",
        "z": "1dad0a92ae89740c",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 540,
        "wires": []
    },
    {
        "id": "a2a9cdea22dd9f00",
        "type": "ui_gauge",
        "z": "1dad0a92ae89740c",
        "name": "Manometro 2",
        "group": "f00ef377b0ef7584",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Manometro 2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "400",
        "seg2": "700",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 580,
        "wires": []
    },
    {
        "id": "d2f2404ee1a5474c",
        "type": "ui_gauge",
        "z": "1dad0a92ae89740c",
        "name": "Manometro 1",
        "group": "f00ef377b0ef7584",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Manometro 1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "400",
        "seg2": "700",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 480,
        "wires": []
    },
    {
        "id": "5cfd5bf68f588c9d",
        "type": "ui_text",
        "z": "1dad0a92ae89740c",
        "group": "2a57da97763dc503",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Pulsador 2",
        "label": "Pulsador 2",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 360,
        "wires": []
    },
    {
        "id": "03f6839d2f0d790e",
        "type": "ui_text",
        "z": "1dad0a92ae89740c",
        "group": "2a57da97763dc503",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Pulsador 1",
        "label": "Pulsador 1",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "18",
        "color": "#000000",
        "x": 1070,
        "y": 260,
        "wires": []
    },
    {
        "id": "b0eab66163f4d65f",
        "type": "mqtt in",
        "z": "1dad0a92ae89740c",
        "name": "Recibir",
        "topic": "uaeh/erick/redes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6582f323d6ac2cd4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "7b41f9746ac3273c",
                "b69d30be1dcbf591"
            ]
        ]
    },
    {
        "id": "0d15f2eaad4565b0",
        "type": "mqtt out",
        "z": "1dad0a92ae89740c",
        "name": "enviar",
        "topic": "uaeh/erick/redes",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6582f323d6ac2cd4",
        "x": 390,
        "y": 560,
        "wires": []
    },
    {
        "id": "3b27a60668097e32",
        "type": "ui_switch",
        "z": "1dad0a92ae89740c",
        "name": "LED1",
        "label": "LED1",
        "tooltip": "",
        "group": "d06eb2c6464ac712",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{ \"comandoled\": \"1 1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"comandoled\": \"1 0\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "0d15f2eaad4565b0"
            ]
        ]
    },
    {
        "id": "d34f99620a2e91dc",
        "type": "ui_switch",
        "z": "1dad0a92ae89740c",
        "name": "LED2",
        "label": "LED2",
        "tooltip": "",
        "group": "d06eb2c6464ac712",
        "order": 18,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{ \"comandoled\": \"2 1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"comandoled\": \"2 0\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "0d15f2eaad4565b0"
            ]
        ]
    },
    {
        "id": "ec3888be31be7b34",
        "type": "ui_switch",
        "z": "1dad0a92ae89740c",
        "name": "LED3",
        "label": "LED3",
        "tooltip": "",
        "group": "d06eb2c6464ac712",
        "order": 19,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{ \"comandoled\": \"3 1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"comandoled\": \"3 0\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "0d15f2eaad4565b0"
            ]
        ]
    },
    {
        "id": "566ec55a8f3cfc75",
        "type": "ui_switch",
        "z": "1dad0a92ae89740c",
        "name": "LED4",
        "label": "LED4",
        "tooltip": "",
        "group": "d06eb2c6464ac712",
        "order": 20,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{ \"comandoled\": \"4 1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"comandoled\": \"4 0\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "0d15f2eaad4565b0"
            ]
        ]
    },
    {
        "id": "15ca953e38c4441f",
        "type": "ui_switch",
        "z": "1dad0a92ae89740c",
        "name": "LED5",
        "label": "LED5",
        "tooltip": "",
        "group": "d06eb2c6464ac712",
        "order": 21,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{ \"comandoled\": \"5 1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"comandoled\": \"5 0\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 600,
        "wires": [
            [
                "0d15f2eaad4565b0"
            ]
        ]
    },
    {
        "id": "1c7e8b5b3efcbc02",
        "type": "ui_switch",
        "z": "1dad0a92ae89740c",
        "name": "LED6",
        "label": "LED6",
        "tooltip": "",
        "group": "d06eb2c6464ac712",
        "order": 22,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"comandoled\":\"6 1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"comandoled\":\"6 0\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 660,
        "wires": [
            [
                "0d15f2eaad4565b0"
            ]
        ]
    },
    {
        "id": "988af224dd3610e7",
        "type": "ui_switch",
        "z": "1dad0a92ae89740c",
        "name": "Control General",
        "label": "Control General",
        "tooltip": "",
        "group": "d06eb2c6464ac712",
        "order": 23,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"comandoled\":\"111\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"comandoled\":\"000\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 720,
        "wires": [
            [
                "0d15f2eaad4565b0"
            ]
        ]
    },
    {
        "id": "7b41f9746ac3273c",
        "type": "serial out",
        "z": "1dad0a92ae89740c",
        "name": "",
        "serial": "b1c65f463b3fbf0e",
        "x": 780,
        "y": 620,
        "wires": []
    },
    {
        "id": "e9d2abc0ea5f359b",
        "type": "serial in",
        "z": "1dad0a92ae89740c",
        "name": "",
        "serial": "b1c65f463b3fbf0e",
        "x": 210,
        "y": 920,
        "wires": [
            [
                "752c2bd02398a5b1",
                "d0b6490bbd8cc46d"
            ]
        ]
    },
    {
        "id": "d0b6490bbd8cc46d",
        "type": "debug",
        "z": "1dad0a92ae89740c",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 640,
        "wires": []
    },
    {
        "id": "752c2bd02398a5b1",
        "type": "mqtt out",
        "z": "1dad0a92ae89740c",
        "name": "LecturasAnalogicas",
        "topic": "uaeh/erick/redes",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6582f323d6ac2cd4",
        "x": 470,
        "y": 800,
        "wires": []
    },
    {
        "id": "b69d30be1dcbf591",
        "type": "function",
        "z": "1dad0a92ae89740c",
        "name": "function 3",
        "func": "let boton1 = {payload: msg.payload.btn1}\nlet boton2 = { payload: msg.payload.btn2 }\nlet pot1 = { payload: msg.payload.pot1 }\nlet pot2 = { payload: msg.payload.pot2 }\nreturn [boton1, boton2, pot1, pot2]",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 340,
        "wires": [
            [
                "03f6839d2f0d790e",
                "afe2f47b01edd434"
            ],
            [
                "5cfd5bf68f588c9d",
                "dccfe7bae7ee171e"
            ],
            [
                "0edcc82c81a889db",
                "d2f2404ee1a5474c"
            ],
            [
                "942327326d9c6df1",
                "a2a9cdea22dd9f00"
            ]
        ]
    },
    {
        "id": "f00ef377b0ef7584",
        "type": "ui_group",
        "name": "Entradas analogicas",
        "tab": "d3fc2d27d754c467",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a57da97763dc503",
        "type": "ui_group",
        "name": "Entradas Digitales",
        "tab": "d3fc2d27d754c467",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6582f323d6ac2cd4",
        "type": "mqtt-broker",
        "name": "Hive",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "erick",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "600",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d06eb2c6464ac712",
        "type": "ui_group",
        "name": "Salidas Digitales",
        "tab": "d3fc2d27d754c467",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b1c65f463b3fbf0e",
        "type": "serial-port",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "d3fc2d27d754c467",
        "type": "ui_tab",
        "name": "2023 UAEH Ago-Dic Redes",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]